body {
margin:0;
font-family: Arial;
background:#0a0a0a;
color:white;
}

header {
display:flex;
justify-content:space-between;
padding:20px;
border-bottom:1px solid #222;
}

a { color:white; text-decoration:none; margin-left:15px; }

.hero {
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

button {
padding:10px 20px;
background:#222;
color:white;
border:none;
margin-top:10px;
cursor:pointer;
}

.grid {
display:grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card {
background:#111;
padding:10px;
border-radius:10px;
}

.card img {
width:100%;
height:200px;
object-fit:cover;
}
